.underline1 {
    position: absolute;
    top: 75px;
    left: 280px;
    width: 2.8rem;
    height: 0.3rem;
    background-color: rgb(255, 179, 0);
}

.show {
    width: 1200px;
    margin: 0 auto;
}

.show img {
    width: 1200px;
}

.firstimg {
    width: 660px;
    height: 330px;
    margin-top: 120px;
    margin-left: 40px;
    background-color: rgb(216, 193, 139);
    background-size: 660px 330px;
    /* padding-top: 10px; */
}

.firstimg ul {
    width: 660px;
    height: 330px;
}

.firstimg ul li {
    float: left;
}

.firstimg .pic1 {
    position: relative;
    display: inline-block;
    width: 400px;
    height: 330px;
    /* text-align: left; */
}

.firstimg .pic1 img {
    width: 400px;
    height: 330px;
}

.firstimg .text {
    display: inline-block;
    width: 220px;
    height: 330px;
    margin: 0 0 0 20px;
}

.firstimg .mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 180px;
    height: 180px;
    background-color: rgba(110, 183, 239, 0.5);
    cursor: move;
}

.firstimg .big {
    display: none;
    position: absolute;
    top: 10px;
    left: 420px;
    width: 500px;
    height: 413px;
    background-color: pink;
    z-index: 999;
    border: #ccc 1px solid;
    overflow: hidden;
}

.firstimg .big img {
    position: absolute;
    top: 0;
    left: 0;
    width: 990px;
    height: 800px;
    /* width: 588px;
    height: 591px; */
}

.firstimg h4 {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.firstimg p {
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
    color: #fff;
}

.cbanner {
    text-align: center;
}

.cbanner h3 {
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: rgb(220, 220, 220);
    margin-top: 100px;
}

.cbanner h4 {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: rgba(0, 0, 0);
    margin-bottom: 40px;
}